<% provide(:title, "Edit Bio") %>
<div class="content-edit content-post">
	<div class="section-title" style="padding: 5px">
		<span>Edit: </span><%= content_tag(:span, @bio.name, style: "border: solid thin #00008B") %>
	</div>
	<%= form_for(@bio) do |f| %>
		<%= f.label :name, class: "form-title" %>
		<%= f.text_field :name %>

		<%= f.label :content, class: "form-title" %>
		<%= f.cktext_area :content %>

		<%= f.submit "Submit Changes" %>
	<% end %>
</div>