<% provide(:title, 'Retail Consultants') %>
<% provide(:meta_description, 'SRG  is a retail consulting firm specializing in retail litigation and management consultation. Our team has extensive expertise in all retail channels and segments.') %>
<% provide(:meta_keywords, 'Retail Litigation, Retail Consulting') %>
<style>
    .vid-pic {
        background-image: url(<%= @video.photo.url %>);
    }

    .vid-pic1 {
        background-image: url(<%= @video_1.photo.url %>);
    }

    .vid-pic2 {
        background-image: url(<%= @video_2.photo.url %>);
    }

    .srg-pic {
        background-image: url(<%= @first_srg_article.photo.url %>);
    }

    .industry-pic {
        background-image: url(<%= @first_article.photo.url %>);
    }
</style>

    <div class="page">
        <div id="slideshow-container">
        <div id="slideshow">
            <!--<div class="inner-container">-->
            <div id="image-container">
                <div class="image one showing" id="image1">
                    <div class="caption">
                        <div class="caption-title"><span>Retail Consulting</span></div>
                        <div class="caption-description"><p><a href='#'>Learn how SRG can help transform your retail business through seasoned, diverse retail expertise.</a></p></div>
                    </div>
                </div>
                <div class="image two" id="image2">
                    <div class="caption">
                        <div class="caption-title"><span>Industry Insights</span></div>
                        <div class="caption-description"><p><a href='#'>SRG's current analyses and vast data archives reveal the latest indusrty trends.</a></p></div>
                    </div>
                </div>
                <div class="image three" id="image3">
                    <div class="caption">
                        <div class="caption-title"><span>Retail Litigation</span></div>
                        <div class="caption-description"><p><a href='#'>With a successful track record in retail litigation cases, SRG can help your business assemble materials to win your case.</a></p></div>
                    </div>
                </div>
                <div class="image four" id="image4">
                    <div class="caption">
                        <div class="caption-title"><span style="font-size: 4em;">Marketing &amp; Advertising</span></div>
                        <div class="caption-description"><p><a href='#'>SRG offers insights to marketing and advertising firms, and digital marketing solutions to retail companies.</a></p></div>
                    </div>
                </div>
            </div>
            <div class="photo-title">
                <div class="container">
                    <span>Retail Consulting</span>
                </div>
            </div>
            <!--</div>-->
        </div>
        </div>
        <div id="slideshow-buttons-container">
                <div class="slideshow-buttons selected one"></div>
                <div class="slideshow-buttons two"></div>
                <div class="slideshow-buttons three"></div>
                <div class="slideshow-buttons four"></div>
        </div>
        <div class="h1">
            <div class="inner-container">
                <h1>SRG has 3 decades of experience in retail and consumer goods</h1>
                <!-- <div class="arrow">
                    
                </div> -->
            </div>
        </div>
        <div id="content">
            <div class="explain-box">
                <div class="explainer consulting">
                    <div class="container explainer-content">
                        <div class=mini-title>
                            <span>Retail Consulting</span>
                        </div>
                        <div class="icon consulting-icon">
                        </div>
                        <div class="mini-content">
                            <p>We work directly with the top national retail chains consumer packaged goods suppliers. SRG helps these retailers and manufacturers understand the changes occurring across the industry to identify new opportunities to increase sales and consumption.</p>
                        </div>
                    </div>
                </div>
                <div class="explainer litigation">
                    <div class="container explainer-content">
                        <div class="mini-title">
                            <span>Retail Litigation</span>
                        </div>
                        <div class="icon litigation-icon">
                        </div>
                        <div class="mini-content">
                            <p>SRG is known for its high quality expertise in litigation consulting for many of the nation’s top law firms and corporate legal departments. We offer placement of trial consultants experienced in providing comprehensive litigation support &ndash; from discovery to final resolution at trial.</p>
                        </div>
                    </div>
                </div>
                <div class="explainer MA">
                    <div class="container explainer-content">
                        <div class="mini-title">
                            <span>Financial Services</span>
                        </div>
                        <div class="icon finance-icon">
                        </div>
                        <div class="mini-content">
                            <p>Our in-depth expertise has been used by leading firms to support mergers and acquisitions, as well as for M&A approval from the Federal Trade Commission (FTC), who has relied on our expertise to provide insight into competitive practices across the retailing, distribution, and consumer brands industries.</p>
                        </div>
                    </div>
                </div>
                <div class="explainer marketing">
                    <div class="container explainer-content">
                        <div class=mini-title>
                            <span>Marketing and Advertising</span>
                        </div>
                        <div class="icon marketing-icon">
                        </div>
                        <div class="mini-content">
                            <p>Strategic Resource Group offers a wide range of advertising and marketing related consulting services to both retailers and advertising firms. SRG has previously worked with top advertising firms to help them gain an advantage during pitch season and win new clients.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bigarrow">
                <div class="arrow-text">
                    <span>Check out the latest from Managing Director Burt Flickinger</span>
                </div>
                <div class="small-arrow">
                    
                </div>
            </div>
        </div>
        <div id="video-news">
            <div class="section-title white">
                <span>Video News</span>
            </div>
            <div id="video-container">
                <div class="video">
                    <div class="video-pic vid-pic">
                        
                    </div>
                    <div class="video-title">
                        <a href="videos/<%= @video.id %>"><span><%= @video.title %></span></a>
                    </div>
                    <div class="video-description">
                        <span><%= @video.date.strftime("%b %d") %> (<%= @video.publication %>) -- <%= truncate(@video.description, length: 170, seperator: " ") %></span>
                    </div>
                    
                </div>
                <div id="middle-video" class="video">
                    <div class="video-pic vid-pic1">
                        
                    </div>
                    <div class="video-title">
                        <a href="videos/<%= @video_1.id %>"><span><%= @video_1.title %></span></a>
                    </div>
                    <div class="video-description">
                        <span><%= @video_1.date.strftime("%b %d") %> (<%= @video_1.publication %>) -- <%= truncate(@video_1.description, length: 170, seperator: " ") %></span>
                    </div>
                </div>
                <div class="video">
                    <div class="video-pic vid-pic2">
                        
                    </div>
                    <div class="video-title">
                        <a href="videos/<%= @video_2.id %>"><span><%= @video_2.title %></span></a>
                    </div>
                    <div class="video-description">
                        <span><%= @video_2.date.strftime("%b %d") %> (<%= @video_2.publication %>) -- <%= truncate(@video_2.description, length: 170, seperator: " ") %></span>
                    </div>
                </div>  
            </div>
        </div>
        <div id="news">
            <div class="inner-container">
            <div class="news pull-left">
                <div class="section-title white">
                    <span>SRG News</span>
                </div>
                <div class="article">
                    <div class="article-pic srg-pic">
                    </div>
                    <div class="article-content">
                        <div class="article-title">
                            <a href="articles/<%= @first_srg_article.id%>"><span><%= @first_srg_article.title %></span></a>
                        </div>
                    </div>
                    <div class="article-preview">
                            <span><%= truncate(@first_srg_article.short_description, length: 110, separator: " ") %></span>
                    </div>
                </div>
            </div>
            <div class="news pull-right">
                <div class="section-title white">
                    <span>Retail Industry News</span>
                </div>
                <div class="article">
                    <div class="article-pic industry-pic">
                    </div>
                    <div class="article-content">
                        <div class="article-title">
                            <a href="articles/<%= @first_article.id %>"><span><%= @first_article.title %></span></a>
                        </div>
                    </div>
                    <div class="article-preview">
                        <span><%= truncate(@first_article.short_description, length: 110, separator: " ") %></span>
                    </div>
                </div>
            </div>
            </div>
        </div>
        
        <div class="section-title publication-section">
                <span>These publications regularly feature Burt and SRG</span>
        </div>
        <div id="publications">
            
            <div id="publication-logos">
                <div class="publication-logo"></div>
                <div class="publication-logo"></div>
                <div class="publication-logo"></div>
                <div class="publication-logo"></div>
                <div class="publication-logo"></div>
                <div class="publication-logo"></div>
                <div class="publication-logo"></div>
                <div class="publication-logo"></div>
                <div class="publication-logo"></div>
            </div>
        </div>
    </div>