<% provide(:title, 'Search Results') %>
<%= provide(:meta_description, 'Search results for SRG') %>
<%= provide(:meta_keywords, 'Strategic Resource Group') %>
<div class="article-index-container">
	<div class="article-search-container">
		<div class="search-title"><span>Search all</span></div>
		<div class="article-search-box">
			<%= form_tag search_path(:search), :method => :get do %>
				<span><%= label_tag :keywords %>: </span>
				<%= text_field_tag :search, params[:search] %>
				<%= submit_tag "Search", name: nil %>
			<% end %>
		</div>
	</div>

	

	<ul class="article-index">

	<% @search.find_each do |result| %>

		<li>
			<div class="article-container">
				<div class="article-photo">
				<a href="/articles/<%= result.id %>"><%= image_tag(result.searchable.photo.url, height: 100) %></a>
				</div>
				<p class="index-article-title"><%= link_to result.searchable.title, result.searchable %></p>
				<span><%= result.searchable.date.strftime("%b %d, %Y") %> | <%= result.searchable.class.name %></span> <br />
				<% if result.searchable.class.name == "Article" %>
					<div class="article-short-description"><span><%= truncate(result.searchable.short_description, length: 105, separator: " ") %></span></div>
				<% else %>
					<div class="article-short-description"><span><%= truncate(result.searchable.description, length: 105, separator: " ") %></span></div>
				<% end %>
			</div>
		</li>
	<% end %>

	</ul>
</div>
