<%= form_tag articles_path, :method => :get do %>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search", name: nil %>
<% end %>


<%= page_entries_info @articles %>
<%= will_paginate @articles %>

<% @articles.each do |article| %>
	<li>
		<%= link_to article.title, article %>
	</li>
<% end %>