<%= provide(:title, "Admin") %>
<%= provide(:special_html, "class=user-html") %>

<%= render 'layouts/admin_header' %>

<div id="content" class="admin-content">
<% if signed_in? %>
	<div class="section-title"><span>You are signed in as <%= @user.username %></span></div>

	<div class="page-post">
		<%= render 'shared/page_form' %>
	</div>

	<div class="content-post bio-post">
		<%= render 'shared/bio_form' %>
	</div>

	<div class="content-post article-post">
		<%= render 'shared/article_form' %>
	</div>

	<div class="content-post video-post">
		<%= render 'shared/video_form' %>
	</div>

	<% flash.each do |key, value| %>
		<%= content_tag(:div, value, class: "alert alert-#{key}") %>
	<% end %>

	<div id="admin-type-select">
		<ul>
			<li class="admin-select-button articles-select selected-admin-input"><span>Articles</span></li>
			<li class="admin-select-button videos-select"><span>Videos</span></li>
			<li class="admin-select-button bios-select"><span>Bios</span></li>
			<li class="admin-select-button pages-select"><span>Pages</span></li>
		</ul>
	</div>
<div class="admin-dashboard articles-dashboard">

	<%= page_entries_info @articles %>
	<%= will_paginate @articles %>

<table class="admin-table">
		<thead>
			<tr>
				<th scope="col" class="first-col">Article Title</th>
				<th scope="col">Article Type</th>
				<th scope="col">Enabled?</th>
				<th scope="col">Date Posted</th>
			</tr>
		</thead>
		<tbody>
			<% @articles.each do |article| %>
				<tr class="admin-article">
					<td><span><%= link_to article.title, article, class: "admin-article-title" %> |
					<%= link_to "Edit", edit_article_path(article), class: "admin-edit" %> |
					<%= link_to "Delete", article, class: "admin-edit", method: :delete,
									  data: { confirm: "You sure?" } %></span></td>
					<td><span><%= article.article_type %></span></td>
					<td><span><%= article.enabled %></span></td>
					<td><span><%= article.created_at.strftime("%m/%d/%y") %></span></td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<%= will_paginate @articles %>
</div>

<div class="admin-dashboard videos-dashboard">

	<%= page_entries_info @videos %>
	<%= will_paginate @videos %>

<table class="admin-table">
		<thead>
			<tr>
				<th scope="col" class="first-col">Video Title</th>
				<th scope="col">Enabled?</th>
				<th scope="col">Date Posted</th>
			</tr>
		</thead>
		<tbody>
			<% @videos.each do |video| %>
				<tr class="admin-article">
					<td><span><%= link_to video.title, video, class: "admin-article-title" %> |
					<%= link_to "Edit", edit_video_path(video), class: "admin-edit" %> |
					<%= link_to "Delete", video, class: "admin-edit", method: :delete,
									  data: { confirm: "You sure?" } %></span></td>
					<td><span><%= video.enabled %></span></td>
					<td><span><%= video.created_at.strftime("%m/%d/%y") %></span></td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<%= will_paginate @videos %>
</div>

<div class="admin-dashboard bios-dashboard">

	<%= page_entries_info @bios %>
	<%= will_paginate @bios %>

<table class="admin-table">
		<thead>
			<tr>
				<th scope="col" class="first-col">Bio Name</th>
				<th scope="col">Date Posted</th>
			</tr>
		</thead>
		<tbody>
			<% @bios.each do |bio| %>
				<tr class="admin-article">
					<td><span><%= bio.name %> |
					<%= link_to "Edit", edit_bio_path(bio), class: "admin-edit" %>  |
					<%= link_to "Delete", bio, class: "admin-edit", method: :delete,
									  data: { confirm: "You sure?" } %></span></td>
					<td><span><%= bio.created_at.strftime("%m/%d/%y") %></span></td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<%= will_paginate @bios %>
</div>

<div class="admin-dashboard pages-dashboard">

	<%= page_entries_info @pages %>
	<%= will_paginate @pages %>

	<table class="admin-table">
		<thead>
			<tr>
				<th scope="col" class="first-col">Page Title</th>
				<th scope="col">Page Type</th>
				<th scope="col">Date Updated</th>
			</tr>
		</thead>
		<tbody>
			<% @pages.each do |page| %>
				<tr class="admin-article">
					<td><span><%= link_to page.title, page, class: "admin-article-title" %> |
					<%= link_to "Edit", edit_page_path(page), class: "admin-edit" %></span></td>
					<td><span><%= page.page_type %></span></td>
					<td><span><%= page.updated_at.strftime("%m/%d/%y") %></span></td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<%= will_paginate @pages %>
</div>


<% else %>
	you aren't signed in
<% end %>
</div>

