<% provide(:title, 'Videos') %>
<%= provide(:meta_description, 'Videos on the retail industry and beyond from Burt Flickinger and Strategic Resource Group') %>
<%= provide(:meta_keywords, 'Strategic Resource Group, retail, consulting, Burt Flickinger') %>

<div class="article-index-container">
	<div class="article-search-container">
		<div class="search-title"><span>Article search</span></div>
		<div class="article-search-box">
			<%= form_tag videos_path, :method => :get do %>
				<%= text_field_tag :search, params[:search], placeholder: "Search videos", class: "index-search" %>
				<%= submit_tag "Search", name: nil, class: "btn" %>
			<% end %>
		</div>
	</div>

	<div class="page-info">
		<span><%= page_entries_info @videos %></span>
	</div>
	<%= will_paginate @videos %>

	<ul class="article-index">

	<% @videos.each do |video| %>
		<li>
			<div class="article-container">
				<div class="article-inner-container">
					<div class="article-photo">
						<a href="/videos/<%= video.id %>"><%= image_tag(video.photo.url, height: 100) %></a>
					</div>
					<p class="index-article-title"><%= link_to video.title, video %></p>
					<span><%= link_to video.publication, video.publication_link, class: 'admin-edit' %> </span> <br />
					<span><%= video.date.strftime("%b %d, %Y") %></span> <br />
					<div class="article-short-description"><span><%= truncate(video.description, length: 100, separator: " ") %></span>
					</div>
				</div>
			</div>
		</li>
	<% end %>

	</ul>
</div>