<div id="new-article-form">
<%= form_for(@article, :html => { :multipart => true }) do |f| %>

	<%= f.label :Article_Type %>
	<%= f.radio_button(:article_type, "SRG News") %> SRG News <br />
	<%= f.radio_button(:article_type, "Industry News") %> Industry News

	<%= f.label :title %>
	<%= f.text_field :title, maxlength: 70 %>

	<%= f.label :author %>
	<%= f.text_field :author %>

	<%= f.label :date %>
	<%= f.date_select :date %>

	<%= f.label :short_description %>
	<%= f.text_field :short_description %>

	<%= f.label :Publication_Name %>
	<%= f.text_field :publication_name %>

	<%= f.label :Publication_Link %>
	<%= f.text_field :publication_link %>

	<%= f.label :content %>
	<%= f.cktext_area :content, :ckeditor => {:language => "usa"} %>

	<%= f.file_field :photo %>

	<%= f.submit "Post" %>
<% end %>
</div>