<% provide(:title, "Edit Page") %>
<div class="content-post content-edit">
	<div class="section-title" style="padding: 5px">
		<span>Edit: </span><%= content_tag(:span, @page.title, style: "border: solid thin #00008B") %>
	</div>
	<%= form_for(@page) do |f| %>
		<%= f.label :title %>
		<%= f.text_field :title %>

		<%= f.label :url_title, "URL Title" %>
		<%= f.text_field :url_title %>

		<%= f.select(:page_type, options_for_select([['consulting'], ['litigation'], ['acquisitions'], ['marketing']])) %> <br />

		<%= f.label :page_order, "Page Order" %>
		<%= f.text_field :page_order, size: "2", maxlength: "2" %>

		<%= f.label :content %>
		<%= f.cktext_area :content %>

		<%= f.submit "Submit Changes", class: "btn" %>
	<% end %>
</div>