<!DOCTYPE html>
<html>
<head>
  <title>Strategic Resource Group | <%= yield(:title) %></title>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Signika:400,600' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <%= csrf_meta_tags %>
</head>
<body>

  <% if (params[:controller] == 'static_pages') || (params[:controller] == 'articles') && (params[:action] != 'edit') %>
    <%= render 'layouts/header' %>
  <% end %>

	<%= yield %>

  <% if (params[:controller] == 'static_pages') || (params[:controller] == 'articles') && (params[:action] != 'edit') %>
    <%= render 'layouts/footer'%>
    <% end %>


</body>
</html>
